.path-0 {
    animation: pathAnim-0 4s linear infinite;
  }
  @keyframes pathAnim-0 {
    0% {
      d: path("M 0,600 L 0,150 C 88,139.7799043062201 176,129.5598086124402 268,148 C 360,166.4401913875598 456,213.54066985645932 553,221 C 650,228.45933014354068 747.9999999999999,196.2775119617225 841,167 C 934.0000000000001,137.7224880382775 1022,111.34928229665071 1121,109 C 1220,106.65071770334929 1330,128.32535885167465 1440,150 L 1440,600 L 0,600 Z");
    }
    25% {
      d: path("M 0,600 L 0,150 C 77.866028708134,136.7177033492823 155.732057416268,123.43540669856458 244,147 C 332.267942583732,170.56459330143542 430.9377990430622,230.97607655502392 551,224 C 671.0622009569378,217.02392344497608 812.5167464114834,142.66028708133973 916,118 C 1019.4832535885166,93.33971291866028 1084.9952153110048,118.38277511961724 1166,132 C 1247.0047846889952,145.61722488038276 1343.5023923444976,147.80861244019138 1440,150 L 1440,600 L 0,600 Z");
    }
    50% {
      d: path("M 0,600 L 0,150 C 96.51674641148324,123.56937799043062 193.03349282296648,97.13875598086125 301,113 C 408.9665071770335,128.86124401913875 528.3827751196172,187.01435406698565 615,185 C 701.6172248803828,182.98564593301435 755.4354066985646,120.80382775119617 849,97 C 942.5645933014354,73.19617224880383 1075.8755980861245,87.77033492822967 1181,103 C 1286.1244019138755,118.22966507177033 1363.0622009569379,134.11483253588517 1440,150 L 1440,600 L 0,600 Z");
    }
    75% {
      d: path("M 0,600 L 0,150 C 91.80861244019138,172.91866028708134 183.61722488038276,195.83732057416267 272,200 C 360.38277511961724,204.16267942583733 445.3397129186603,189.56937799043064 533,197 C 620.6602870813397,204.43062200956936 711.0239234449759,233.88516746411483 812,219 C 912.9760765550241,204.11483253588517 1024.5645933014355,144.88995215311004 1131,126 C 1237.4354066985645,107.11004784688996 1338.7177033492821,128.555023923445 1440,150 L 1440,600 L 0,600 Z");
    }
    100% {
      d: path("M 0,600 L 0,150 C 88,139.7799043062201 176,129.5598086124402 268,148 C 360,166.4401913875598 456,213.54066985645932 553,221 C 650,228.45933014354068 747.9999999999999,196.2775119617225 841,167 C 934.0000000000001,137.7224880382775 1022,111.34928229665071 1121,109 C 1220,106.65071770334929 1330,128.32535885167465 1440,150 L 1440,600 L 0,600 Z");
    }
  }
  .path-1 {
    animation: pathAnim-1 4s linear infinite;
  }
  @keyframes pathAnim-1 {
    0% {
      d: path("M 0,600 L 0,350 C 95.49282296650716,332.3923444976076 190.98564593301433,314.7846889952153 290,328 C 389.0143540669857,341.2153110047847 491.5502392344499,385.25358851674645 590,399 C 688.4497607655501,412.74641148325355 782.8133971291865,396.20095693779905 865,394 C 947.1866028708135,391.79904306220095 1017.1961722488038,403.9425837320574 1111,399 C 1204.8038277511962,394.0574162679426 1322.401913875598,372.0287081339713 1440,350 L 1440,600 L 0,600 Z");
    }
    25% {
      d: path("M 0,600 L 0,350 C 83.31100478468898,320.9952153110048 166.62200956937795,291.99043062200957 259,303 C 351.37799043062205,314.00956937799043 452.82296650717706,365.0334928229665 560,358 C 667.1770334928229,350.9665071770335 780.0861244019137,285.8755980861244 871,276 C 961.9138755980863,266.1244019138756 1030.8325358851675,311.46411483253587 1122,333 C 1213.1674641148325,354.53588516746413 1326.5837320574162,352.26794258373207 1440,350 L 1440,600 L 0,600 Z");
    }
    50% {
      d: path("M 0,600 L 0,350 C 127.10047846889952,379.4736842105263 254.20095693779905,408.9473684210526 340,418 C 425.79904306220095,427.0526315789474 470.2966507177034,415.6842105263158 540,390 C 609.7033492822966,364.3157894736842 704.6124401913876,324.3157894736842 814,307 C 923.3875598086124,289.6842105263158 1047.2535885167465,295.0526315789474 1154,306 C 1260.7464114832535,316.9473684210526 1350.3732057416269,333.4736842105263 1440,350 L 1440,600 L 0,600 Z");
    }
    75% {
      d: path("M 0,600 L 0,350 C 84.93779904306217,392.3062200956938 169.87559808612434,434.6124401913876 258,421 C 346.12440191387566,407.3875598086124 437.43540669856463,337.85645933014354 537,316 C 636.5645933014354,294.14354066985646 744.3827751196173,319.9617224880383 839,320 C 933.6172248803827,320.0382775119617 1015.0334928229663,294.29665071770336 1113,295 C 1210.9665071770337,295.70334928229664 1325.4832535885168,322.8516746411483 1440,350 L 1440,600 L 0,600 Z");
    }
    100% {
      d: path("M 0,600 L 0,350 C 95.49282296650716,332.3923444976076 190.98564593301433,314.7846889952153 290,328 C 389.0143540669857,341.2153110047847 491.5502392344499,385.25358851674645 590,399 C 688.4497607655501,412.74641148325355 782.8133971291865,396.20095693779905 865,394 C 947.1866028708135,391.79904306220095 1017.1961722488038,403.9425837320574 1111,399 C 1204.8038277511962,394.0574162679426 1322.401913875598,372.0287081339713 1440,350 L 1440,600 L 0,600 Z");
    }
  }
